#container {
  width: 80%;
  height: 80%;
  /* justify-content: ; */
  align-items: center;
  display: grid;
  /* grid-auto-flow: ; */
  /* flex-direction: row; */
  margin: 0 auto;
}

.pdf-div {
  text-align: center;
}

.pdf-link {
  background: #6ebabd;
  border: 0;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  padding: 15px;
  font-size: 20px;
}

.pdf-link:hover {
  background:#fff;
  color: #6ebabd;
}