.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  width: 400px;
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > img {
  margin: 10px 0 40px;
  width: 175px;
}

p {
  color: #ff3333;
  margin-bottom: 150px;
  border: 1px solid #ff3333;
  padding: 10px;
  width: 100%;
  text-align: center;
}

input {
  flex: 1;
  height: 46px;
  margin-bottom: 15px;
  padding: 15px;
  color: #777;
  font-size: 16px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  color: #fff;
  font-size: 16px;
  background: #ff3333;
  height: 50px;
  border: 0;
  border-radius: 5px;
  width: 100%;
}

hr {
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid #cdcdcd;
  width: 100%;
}

a {
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  color: #ff3333;
}